<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ders Programı</title>
</head>

<body>
    <h1>Ders Programı</h1>

    <h2>Hoca-Ders Bilgileri</h2>
    <ul>
        {% for hoca_ders in hoca_dersleri %}
        <li>{{ hoca_ders[1] }} - {{ hoca_ders[2] }}</li>
        {% endfor %}
    </ul>

    <h2>Kısıtlar</h2>
    <ul>
        {% for hoca_id, gun, saat, Kac, sinif in kisitlar %}
        <li>{{ hoca_id }} - {{ gun }} - {{ saat }} - {{ Kac }} - {{ sinif }}</li>
        {% endfor %}
    </ul>

    <h2>Kısıt Bilgileri</h2>
    <form method="post" action="/">
        <select name="hoca_id">
            {% for hoca_ders in hoca_dersleri %}
            <option value="{{ hoca_ders[0] }}">{{ hoca_ders[1] }} - {{ hoca_ders[2] }}</option>
            {% endfor %}
        </select>
        <select name="gun">
            <option value="Pazartesi">Pazartesi</option>
            <option value="Sali">Sali</option>
            <option value="Çarşamba">Çarşamba</option>
            <option value="Perşembe">Perşembe</option>
            <option value="Cuma">Cuma</option>
        </select>
        <input type="text" name="saat" placeholder="Saat-Aralığı" required>
        <input type="text" name="Kac" placeholder="Kaçıncı sınıf dersi" required>
        <input type="text" name="sinif" placeholder="Sınıf" required>
        <input type="hidden" name="action" value="guncelle">
        <button type="submit">Güncelle</button>
    </form>

    <h2>Yeni Veri Ekle</h2>
    <form method="post" action="/">
        <input type="text" name="hoca_adi" placeholder="Hoca Adı" required>
        <input type="text" name="ders_adi" placeholder="Ders Adı" required>
        <select name="gun">
            <option value="Pazartesi">Pazartesi</option>
            <option value="Sali">Sali</option>
            <option value="Çarşamba">Çarşamba</option>
            <option value="Perşembe">Perşembe</option>
            <option value="Cuma">Cuma</option>
        </select>
        <input type="text" name="saat" placeholder="Saat-Aralığı" required>
        <input type="text" name="Kac" placeholder="Kaçıncı sınıf dersi" required>
        <input type="text" name="sinif" placeholder="Sınıf" required>
        <input type="hidden" name="action" value="ekle">
        <button type="submit">Ekle</button>
    </form>
</body>

</html>